.get-started-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.content-header {
  text-align: center;
  padding: 0 5rem;
}
.content-title {
  color: white;
  font-weight: bold;
  font-size: 3.75rem;
  margin-bottom: 0;
}

.content-subtitle {
  color: white;
  letter-spacing: 0.1em;
  font-size: 1.125rem;
  margin-top: 0.5rem;
}
.highlight {
  color: #643b9a;
}

.get-started-left-card {
  background-color: #14142d;
  border-radius: 0.5rem;
  padding: 1.25rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.get-started-left-title {
  font-size: 1.125rem;
  font-weight: 600;
}

.get-started-personal-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
}
.form-input {
  width: 92%;
  padding: 0.5rem 0.75rem;
  background-color: #1a1a2e;
  border: 1px solid #2d2d44;
  border-radius: 0.375rem;
  color: white;
  font-size: 0.875rem;
  outline: none;
  transition: border-color 0.2s;
}
.form-input:focus {
  border-color: #643b9a;
}
.form-group {
  margin-bottom: 1rem;
}

.get-started-financial-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.btn-submit {
  gap: 6px;
  background-color: #8a0ffcff;
  padding: 8px;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}
.btn-submit:hover {
  background-color: #720ed0ff;
  cursor: pointer;
}

.get-started-right-card {
  background-color: #14142d;
  border-radius: 0.5rem;
  padding: 1.25rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.get-started-right-title {
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 1.5px;
  text-decoration-color: #643b9a;
}

.form-select {
  width: 100%;
}
